{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    // 2重管理になるのでreact/prop-types側の警告はoff
    "react/prop-types": [0],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["esbuild/**/*.js", "scripts/**/*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["src/**/*.stories.tsx"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    },
    {
      "files": ["src/lib/libp2p.ts", "src/state/ducks/p2p/p2pSlice.ts"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off"
      }
    }
  ]
}
